@model QA.AutomatedMagic.MagicServer.Models.MagicPicker

@{
    ViewBag.Title = "Pick Projects for MagicSolution";
}

<h2>Pick Projects for MagicSolution: @Model.SolutionName</h2>
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SolutionName)
<table class="table">
    <tr>
        <th>Need to add?</th>
        <th>Project name</th>
    </tr>
    @for (int i = 0; i < Model.Items.Count; i++)
    {
    <tr>
        <td>
            <div class="form-group">
                @Html.EditorFor(model => model.Items[i].NeedToAdd)
            </div>
        </td>
        <td>
            <div class="form-group">
                @Html.HiddenFor(model => model.Items[i].Name)
                @Html.DisplayFor(model => model.Items[i].Name)
            </div>
        </td>
    </tr>
    }
</table>

<table>
    <tr>
        <td>
            <div class="col-md-offset-1 col-md-10">
                <div class="btn btn-default">
                    @Html.ActionLink("Cancel", "Index")
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </td>
    </tr>
</table>
}
